/* excursion */
body {
    background-color: black;
    font-size: 16px;
    font-family: Verdana;
    text-align: center;
}

#head-msg {
    color: white;
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
}

#download {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

#feature {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#feature h2 {
    font-weight: 300;
    font-size: 42px;
}
#feature p {
    color: gray;
    font-size: 21px;
}


